<div class="question_background">
<h4 style="color:white">If you have any additional comments, please share them here:</h4> 
<textarea rows="4" class="span12" id="comment"></textarea>
</div>
<div class="percent-spacer"></div>