     <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">

            <div class="container-fluid" id="header-container">
            
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <div id="back-btn"> <button class="btn btn-primary" onClick="history.go(-1);return true;">BACK</button> </div>
              <a id="page-title" class="brand" href="#">{{this}}</a>

              <div class="nav-collapse collapse">
                <ul class="nav">
                  <li><a href="index.html">Home   <span class="icon-home"></span></a></li>
                  

                  <li> <a id="font-button">Change Font Size  <span class="icon-font"></span></a></li>
                  <li> <a href="feedback.html" id="feedback-button">Give Feedback  <span class="icon-thumbs-up"></span></a></li>
                  <li> <a href="#myModal" data-toggle="modal">About Age-CAP</a></li>
                </ul>
              </div><!--/.nav-collapse -->

            </div>
          </div>
        </div>