		<div class="question_background">
	                <div class="row-fluid">
	                        <h4 style="color:white">{{this}}</h4>
	                        <div class="spacer5"></div>
	                </div>

	                <div class="row-fluid">
	                    <div class="btn-group btn-group-vertical" data-toggle="buttons-radio" id="group{{getNumber this}}">
	                        <div class="btn-group">
	                            <button class="btn btn-large btn-primary"> 1 </button>                         
	                            <button class="btn btn-large btn-primary"> 2 </button>                         
	                            <button class="btn btn-large btn-primary"> 3 </button>                         
	                            <button class="btn btn-large btn-primary"> 4 </button>                         
	                            <button class="btn btn-large btn-primary"> 5 </button>
	                        </div>
	                        <!--<div class="percent-spacer"></div>-->
	                        <button class="btn btn-large btn-primary"> Not Applicable </button>
	                    </div>
	                </div>
	 
	            </div>
	            <div class="percent-spacer"></div>